<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <%- css_tag("/styles/bootstrap.css") %>
    <%- css_tag("/styles/Site.css") %>
    <%- js_tag("/js/modernizr-*") %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%- link_to('Myle Services', '/', { class: "navbar-brand" }) %>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><%- link_to('Home', '/') %></li>
                    <li><%- link_to('API', '/') %></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <%- body %>
        <hr />
        <footer>
            <p>&copy; <%- new Date().getFullYear() %> - Myle Services</p>
    </footer>
    </div>
    <%- js_tag("/js/jquery-1.10.2.js") %>
    <%- js_tag("/js/bootstrap.js") %>
    <%- js_tag("/js/respond.js") %>
</body>
</html>
