﻿<h2><%= title %></h2>

<!--@Html.ActionLink("Download Excel", "Download", new { id = @ViewBag.AccountId }, null)-->

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Text</th>
            <th>Device</th>
            <th>Date</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        <% records.forEach(function(i, idx)  { %>
            <tr>
                <td><%= records.length - idx %></td>
                <td><%= i.text %></td>
                <td>phone</td>
                <td><%= i.date %></td>
                <td><a href="<%= i.mapUrl %>"><%= i.raw.location ? i.raw.location.latitude + ", " + i.raw.location.longitude : "" %></a></td>
            </tr>
        <% }); %>
    </tbody>
</table>


