<h2>Uploads</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Account</th>
            <th>Devices</th>
            <th>Last Exported</th>
            <th>Times Exported</th>
        </tr>
    </thead>
    <tbody>
        <% accountInfos.forEach(function(i)  { %>
            <tr>
                <td><%- link_to(i.account, i.account) %></td>
                <td>iPhone</td>
                <td><%= i.lastExported %></td>
                <td><%= i.timesExported %></td>
            </tr>
        <% }); %>
    </tbody>        
</table>

